[Unit]
Description=X27-Linux Homelab automatic update
Documentation=man:rpm-ostree(1)
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

# Reboots only when an update was staged. Sends a Gotify message first if set up.
[Service]
Type=oneshot
ExecStart=/usr/libexec/autoupdate-run
